.feedback-list {
    font-family: Arial, sans-serif;
    width: 100%; /* Ensure the component takes full width */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between feedback items */
  }
  
  .feedback-item {
    border: 1px solid #ccc;
    padding: 15px;
  }
  #center{
   
    justify-content: center;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .feedback-item {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two columns on larger screens */
      gap: 15px;
    }
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  .field strong {
    margin-right: 10px;
  }
  