:host {
  display: block;
}
.card {
  justify-content: center;
  text-align: center;
  border: 2px black solid;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  margin-bottom:3%;
}

.card-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;

}


.card-text {
  font-weight: bold;
  color: #666;
}

.card-img-top {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.btn-primary {
  margin-bottom: 10px;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
@media screen and (max-width: 768px) {
  .card {
    
    
    border: 2px black solid;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2px;
    font-size: 22px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom:3%;
  }

 .btn-primary {
  font-size: 25px;
  height: 40px;
  width: 280px;
  font-weight: bold;
    margin-bottom: 10px;
    background-color: #007bff;
    border-color: #007bff;
  }
  
}