:host {
  display: block;
}

.card {width: 380px;
 margin-top: 20px;
 margin-left: 12%;
margin-bottom: 10px;
  border: 1px solid black;
  max-width: 400px;
  display: inline-flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.login-message {
  text-align: center;
  font-size: 18px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.card-text {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.card-text li {
  margin-bottom: 8px; /* Add spacing between list items */
}

.card-text li::before {
  content: "•"; /* Use a bullet point as list item marker */
  color: #050505; /* Bullet point color */
  display: inline-block;
  width: 1em;
  margin-left: -1em; /* Align bullet points with text */
}

.card-title {
  color: #121111;
  font-size: 24px;
  font-weight: bold;
}
.loading-message a{
    text-decoration: none;
    color: aliceblue;
  }
#cancel{
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
  color: rgb(14, 1, 1);
  margin-left: 80px;
  background-color: rgb(231, 15, 15);

}
#Completed{
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
  color: rgb(14, 1, 1);
  margin-left: 20px;
  background-color: rgb(84, 220, 47);

}

.card-text {
  color: #201e1e;
}

.card-img-top {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
}

.loading-message {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.loading-message a{
  
  color: rgb(37, 192, 50);
}
h1{
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 88%;
    margin-right: 12px;
  }
  .loading-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 8px;
    margin-right: 8px;
  }
}
